* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: rgb(184, 125, 17);
}


/* img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
} */

.color-main {
    color: rgb(223, 190, 130);
}


/* Header */

header {
    border-bottom: 1px solid rgb(223, 190, 130);
    max-height: 100px;
}

.carddv {
    background-color: rgb(184, 125, 17);
}

.carddv p {}

.topnav {
    /* overflow: hidden; */
    position: relative;
}

.nav .topnav-item {
    line-height: 50px;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(184, 125, 17);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .topnav-item:hover .sub-menu {
    display: block;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.sub-menu {
    width: 250px;
    background-color: rgb(223, 190, 130);
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 5px;
    display: none;
}

.sub-menu li {
    height: 40px;
    line-height: 40px;
}

.sub-menu li:hover {
    background: white;
    transition: 0.7s;
    border-radius: 5px;
}

.sub-menu li:hover a {}

.navmobile {
    width: 60%;
    display: fixed;
    background-color: white;
    height: 100%;
    z-index: 1000;
}


/* Header */

header {
    border-bottom: 1px solid rgb(223, 190, 130);
    display: flex;
    top: 0;
    z-index: 99;
    background-color: white;
}

.carddv {
    background-color: rgb(184, 125, 17);
}

.carddv p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.active1 {
    color: rgb(223, 190, 130);
    border: 1px solid rgb(223, 190, 130);
}

.noidung {
    margin-top: 150px;
}

section {
    margin-top: 180px;
}

.iconmenu i {
    color: rgb(223, 190, 130);
    line-height: 150px;
    font-size: 20px;
}

.ips::placeholder {
    color: rgb(223, 190, 130)!important;
}

.ips {
    border: 1px solid rgb(223, 190, 130);
}

.bts {
    background: rgb(223, 190, 130);
    color: white;
}


/* Noi dung */

.dichvu {
    padding-top: 10px;
}

.camnhan {
    padding-top: 10px;
}

ul,
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

a:hover {}

.navleft {
    display: flex;
}

.navleft li {
    margin-right: 1rem;
}

.navleft li:not(:first-child)::before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 8px;
    font-size: 16px;
}

.active1 {
    color: rgb(223, 190, 130);
    border: 1px solid rgb(223, 190, 130);
}

.iconmenu i {
    color: rgb(223, 190, 130);
    line-height: 150px;
    font-size: 20px;
}

.ips::placeholder {
    color: rgb(223, 190, 130)!important;
}

.ips {
    border: 1px solid rgb(223, 190, 130);
}

.bts {
    background: rgb(223, 190, 130);
    color: white;
}


/* Noi dung */

.dichvu {
    padding-top: 10px;
}

.camnhan {
    padding-top: 10px;
}


/* dieukhac */

.phuntheu {
    background: rgb(223, 190, 130);
}

.xemthem {
    background: rgb(230, 177, 79);
    color: black;
    border: 1px solid white;
}

.dieukhacimg {
    border: none;
    padding: 0;
}


/* doingu */

.doingu {
    letter-spacing: 2px;
}


/*  *footer*/

footer {
    margin-top: 100px;
    background: rgb(243, 221, 179);
}

.ft1 {
    background: none;
}

.content {
    max-width: 100%;
}

.content img {
    max-width: 100%;
    margin: 0 auto !important;
    display: block;
    float: none !important;
    height: auto;
}

@media only screen and (max-width: 739px) {
    .logo img {
        float: left;
        width: 100px !important;
    }
    .topnav {}
    .topnav a {
        /* margin-left: 50px; */
    }
    h2 {
        font-size: 18px !important;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav {
        line-height: 40px;
    }
    .topnav a {
        font-size: 13px !important;
    }
    .search {
        display: none;
    }
    .container {
        margin-top: 70px;
    }
    section {
        margin-top: 90px;
    }
    .content img {
        height: auto !important;
        width: 100% !important;
    }
    /* menu */
    .menu {
        display: none;
    }
    #navmb__off {
        display: none;
        float: right;
        font-weight: bold;
        margin-right: 25px;
        font-size: 16pt;
    }
    .navbar__icon {
        display: block;
        float: right;
        margin: 17px 20px;
        z-index: 4;
        right: 0;
        position: fixed;
        color: black;
        cursor: pointer;
        z-index: 6;
    }
    .navbar__icon i {
        font-size: 32px;
    }
    .navbar__mobile {
        display: block;
        width: 57%;
        background-color: white;
        height: 1000px;
        position: fixed;
        z-index: 6;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    .navbar__mobile ul {
        list-style: none;
        padding-top: 5px;
    }
    .navbar__mobile ul li {
        margin: 30px 0;
    }
    .navbar__mobile ul li a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar__rgba {
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        display: none;
        animation: rgba 1s ease;
    }
    @keyframes rgba {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}